__pycache__/
.vscode
/release/
/tools/archipelago/
/tools/gen_constants/short_constants.txt
/n64/assets/assets.dl
/n64/assets/*/*.data
/n64/assets/*/*.blend1
/n64/assets/*/*.mtl
/n64/assets/*/*.obj
/n64/rom/
/n64/tools/mips64/
/n64/tools/armips
/n64/tools/armips.exe
/n64/tools/ed64romconfig
/n64/tools/ed64romconfig.exe
/pc/Flashcart/Flashcart
/pc/Flashcart/Flashcart.exe
*.o
*.d
